# =========================
# Visual Studio
# =========================
.vs/

# =========================
# Build outputs
# =========================
bin/
obj/

# =========================
# ASP.NET Core settings
# =========================
appsettings.json
appsettings.Development.json

# =========================
# Logs & temp
# =========================
*.log
